body {
    margin: 0;
    padding: 0;
}
h1 {
    color: ;
}
header {
    padding: 10px;
    display: flex;
    background-color: #F5871F;
    justify-content: center;


}
main {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 100px;
    background-color: aqua;
    align-items: center;


}
.liste {
    background-color: white;
    width: 25%;
    margin-bottom: 10px;
    border: solid 1px black;
    border-radius: 10px;

}
.namebio {
    width: 50%;

    background-color: #e0e0e0;
    border: solid 1px black ;
    border-radius: 20px;

}
.go {
    display: flex;
    justify-content: center;
    border: solid 1px black;
    margin-top: 30px;
    width: 10%;
    background-color: #e0e0e0;
    border-radius: 50px;


}
a {
    text-decoration: none;
    color: black;
}
.author_form {
    display: flex;
    flex-direction: column;
}



.book_form {
     display: flex;
     flex-direction: column;
 }
.book_input_title {
    padding: 10px;
}
.book_input_style {
    padding: 10px;
}
.book_input_author {
    padding: 10px;
}
.book_input_nbpages {
    padding: 10px;
}
.book_input_instock {
    margin: 10px;
}



.author_form {
    display: flex;
    flex-direction: column;
}
.author_input_name {
    padding: 10px;
}
.author_input_firstName {
    padding: 10px;
}
.author_input_birthDate {
    padding: 10px;
}
.author_input_deathDate {
    padding: 10px;
}
.author_input_biography {
    padding: 10px;
}
.author_input_ddwidget {
    margin-bottom: 10px;
}
.author_input_bwidget {
    margin-top: 10px;
}
.author_input_envoyer {
    margin-top: 10px;
}




footer {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #F5871F;
}