{% extends '../base.html.twig' %}
{% block content %}
    {% for bookid in book %}
        <a href="{{ path('bookid', {'id':bookid.id}) }}"><p>{{ bookid.title }}</p></a>
        <a href="{{ path ('book_update', {'id':bookid.id}) }}">Update</a>
    {% endfor %}
   <a href="{{ path ('author') }}">Go auteurs</a>
{% endblock %}