{% extends 'baseadmin.html.twig' %}
{% block content %}
    <div class="liste">
    <p>Merci, votre livre est bien enregistré :</p>
    </div>
    <div class="liste">
    <ul>
        <li>{{ book.title }}</li>
        <li>{{ book.style }}</li>
        <li>{% if book.inStock  %}
            Disponible
            {% else %}
            En rupture
            {% endif %}
            </li>
        <li>{{ book.nbpages }}</li>
    </ul>
    </div>
{% endblock %}