</main>
<footer>
        <div>
        <a href="{{ path ('author_admin') }}"><h1>Auteur</h1></a>
        </div>
        <div>
        <a href="{{ path ('book_admin') }}"><h1>Livre</h1></a>
        </div>
</footer>

</body>
</html>