{% extends 'base.html.twig' %}
{% block content %}
    <div class="accueil">
        <div>
            <a href="{{ path('author') }}"><h1>Auteur</h1></a>
            <p>Liste des auteurs</p>
        </div>
        <div>
            <a href="{{ path('book') }}"><h1>Livre</h1></a>
            <p>Liste des livres</p>
        </div>
    </div>
{% endblock %}